.section-topic {
  display: flex;
  :last-child {
    .education__line {
      height: 100%;
    }
  }
}
.section-topic__time {
  padding-right: 1rem;
}

.section-topic__rounder {
  position: relative;
  display: block;
  width: 16px;
  height: 16px;
  background-color: var(--text-color-light);
  border-radius: 50%;
  margin-top: 0.25rem;
}

.section-topic__line {
  display: block;
  width: 2px;
  height: 110%;
  background-color: var(--text-color-light);
  transform: translate(7px, 0);
}
